.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(34, 192, 113);
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  color: rgb(10, 10, 10);

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Pokemon-card {
  height: 300px;
  width:250px;
  
  border: 10px solid #d3b50d;
  border-radius: 10px;
  border-style: ridge;
  padding: 20px;
  margin: 10px;
  text-align: center;
  text-size-adjust: auto;
  background-color: #081214;

}

.App-p{
  font-size: 12px;
  color: #ffffff;
  font-weight: bold
  ;

}
.Pokedex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-wrap: wrap;
  color: #d3b50d
  
}

