  .content {
      display: none;
      margin-top: 20px;
      width: 300px;
    }
    .visible {
      display: block;
      width: 300px;
    }
    img {
      width: 300px;
      height: 300px;
    }
    iframe {
      width: 300px;
      height: 300px;
      border: none;
    }
    .content img, .content iframe {
      margin-bottom: 10px;
      width: 300px;
      height: auto;
      display: block;
      
    }
    body{
      text-align: left;
      font-family: Arial, sans-serif;
      margin: 20px;
      background-attachment: fixed;
      background-color: #35a772;
      font: bold 20px Arial, sans-serif;
      color: #0c0b0bda;
    }
.description {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 800px;
  text-align: left;
  background-color:#8da6d3bd ;
  font-family: 'Times New Roman', Times, serif;
    
   
 
}
  